# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
bin/
Bin/
obj/
Obj/

# Visual Studio cache
.vs/

# Node.js
node_modules/
package-lock.json

# Vite
vite.config.ts.timestamp*

# unplugin-vue-components
components.d.ts